.App {
  display: flex;
  background: var(--bg-color-grey);
}
.innerContainer {
  display: flex;
  width: 100%;
  gap: 1.25rem;
  margin: 1.75rem 3.5rem;
}

@media screen and (max-width: 750px) {
  .innerContainer {
    margin: 1rem 1rem;
  }
}
